

.logo{

    height: 40px;
    
    padding-left: 30px;
}
.nav{
    padding-bottom: 80px;
}
.navbar{

    background-color: rgb(184, 111, 28);
    z-index: 100;
    position: fixed;
    width: 100%;
    
}

.navbar-nav li{

    padding: 0 15px;
}
.navbar-nav li a:hover{
    color:white!important;
    
}
.carousel-caption{

    top :50%;
}

.carousel-caption h5{

    color: rgb(10, 72, 153);
    
}
#about-us{

    padding-top: 80px;
    padding-bottom: 50px;
}
.skill-bar p {

    margin-bottom: 2px;
}
.progress{
    margin-bottom: 20px;
    border-radius: 16px;
    background-color: rgb(184, 111, 28);
}

#services h2{
    padding-top: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
    font-style: italic;
    
    
    color:rgb(184, 111, 28) ;

}
#services h2::after{

    content: '';
    background: rgb(184, 111, 28);
    display: block;
    height: 5px;
    width: 250px;
    margin: 10px auto;
}

#services{
    
    background-image: url("services.jpg");
    background-attachment: fixed;
    color: rgb(184, 111, 28);
    background-size: cover;
    padding-top: 50px;
}
.hover:hover{
    background-color:white;
}

#services h3{
    height: 50px;
    font-size: 30px;
    
    text-align: center;
    padding-bottom: 10px;
}
#services p{

    font-size: 15px;
}
u{
    padding-top: 10px;
}

.icon{
    
    color: rgb(21, 255, 0);
    height: 50px;
    width: 70px;
    border: solid rgb(184, 111, 28) 3px;
    border-radius: 25px;
    padding-top: 15px;
    margin-bottom: 10px;

}
.image1{
    height: 200px;
    width: 200px;
}
#team h2{

    text-align: center;
    padding-top: 80px;
    color: rgb(16, 245, 253);
    
    padding-bottom: 50px;
    
    font-style:italic;
    margin-top: 10px;
    margin-bottom: 10px;
}
#team h2::after{

    content: '';
    background:  rgb(16, 245, 253);
    display: block;
    height: 5px;
    width: 170px;
    margin: 10px auto;
}

#team h3{
    color: rgb(16, 245, 253);
}
#team h5{
    font-style: italic;
    font-weight: bold;
}

.image ul{
    padding: 15px 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    
}
.image ul li {
    padding: 5px;
    display: inline-block;
}
.image:hover ul{
    opacity: 100;
    cursor: pointer;
    padding-bottom: 360px;
    
}

.image ul,.image ul li {
    transition: 0.5s;
}

.image img{
    filter: grayscale(1);
}
.image img:hover{
    filter:grayscale(0);
    cursor: pointer;
}
#promo{
    text-align: center;
    background-image: url(promo.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-size: 50px;
    font-style: italic;
    color: white;
    padding-bottom: 200px;
    padding-top: 200px;
}
#promo h1::after{

    content: '';
    background: #55c1e2;
    display: block;
    height: 5px;
    width: 170px;
    margin: 10px auto ;
}
#price{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
}
#price h1{
    font-style: italic;
    color: #e4a700;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
#price h1::after{
    content: '';
    background:  #e4a700;
    display: block;
    height: 5px;
    width: 200px;
    margin: 10px auto ;
   
}
.price_head{
    background-color:  #e4a700;
   text-align: center;
}
.price_content:hover{

    box-shadow: 0 5px 60px #e4a700; 
    
}

.price_content ul li {

   list-style: none;
  
   padding: 15px 10px;
    
    font-size: 20px;

}
.icon2{
   color: green;
}
.icon3{
    color: red;
}
#testimonial{
 
background-color: rgb(237, 238, 184);

}


#testimonial h1{
    font-style: italic;
    color: #e4a700;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

#testimonial h1::after{
    content: '';
    background:  #e4a700;
    display: block;
    height: 5px;
    width: 250px;
    margin: 10px auto ;
   
}
#testimonial p {
    text-align: center;
    font-weight: bold;
    color: rgb(255, 6, 6);
    padding-bottom: 40px;
}
.picture .image{

    height: 120px;
    width: 120px;
    border-radius: 50%;
}
#testimonial img{

   top: -60px;
   left: 120px ;
    position:absolute;
    border: 10px solid lightyellow;
}
.col-md-4{
    margin: 40px auto;
    
}
blockquote{
    padding-top: 90px;
    
}
.picture{
    background-color: #e4a700;
    color: lightyellow;
    font-style: italic;
}
.picture h3 {

    color: mediumblue;
    font-size: 50px;
}
span{
    font-size: 30px;
    color: rgb(172, 224, 142);
}

#contact{
    background-color: rgb(222, 236, 142);
    margin-top: 50px;
    padding-bottom: 30px;
}
#contact h1{
    font-style: italic;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px
}
#contact h1::after{
    content: '';
    background:  rgb(238, 238, 238);
    display: block;
    height: 5px;
    width: 250px;
    margin: 10px auto ;

}
.follow i{
   color: cornflowerblue;
   padding: 5px 5px ;
}

.contact_info{
    padding-top: 90px;
}
.last{

    background-color: gold;
    color: whitesmoke;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
